<!-- wp:html -->
<div data-elementor-type="wp-page" data-elementor-id="1648" class="elementor elementor-1648" data-elementor-post-type="page">
<!-- /wp:html -->

<!-- wp:html -->
<div class="elementor-element elementor-element-5cdce87 e-con-full sustainability-bnr-sec  pdng-lt-rt   all-heading   bann-padd-tp elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con e-parent" data-id="5cdce87" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-7efbf42 e-con-full e-flex e-con e-child" data-id="7efbf42" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-979c36c elementor-widget elementor-widget-hfe-breadcrumbs-widget" data-id="979c36c" data-element_type="widget" data-e-type="widget" data-widget_type="hfe-breadcrumbs-widget.default">
				<div class="elementor-widget-container">
					<nav aria-label="Breadcrumb"><ul class="hfe-breadcrumbs hfe-breadcrumbs-show-home"><li class="hfe-breadcrumbs-item hfe-breadcrumbs-first"><span class="hfe-breadcrumbs-home-icon"></span><a href="http://wwa.local"><span class="hfe-breadcrumbs-text">Home</span></a></li><li class="hfe-breadcrumbs-separator"><span class="hfe-breadcrumbs-separator-text">-</span></li><li class="hfe-breadcrumbs-item hfe-breadcrumbs-last"><span class="hfe-breadcrumbs-text" aria-current="page">Leadership</span></li></ul></nav>				</div>
				</div>
		<div class="elementor-element elementor-element-4de543a e-con-full e-flex e-con e-child" data-id="4de543a" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-2056623 elementor-widget elementor-widget-heading" data-id="2056623" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">Our Leadership Philosophy</h1>				</div>
				</div>
				<div class="elementor-element elementor-element-e90257d elementor-widget elementor-widget-heading" data-id="e90257d" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">At Delta Group, leadership is defined by stewardship rather than hierarchy. Leaders are expected to act with integrity, prioritise safety, and take ownership of outcomes across every function and business.</p>				</div>
				</div>
				</div>
				</div>
				</div>
<!-- /wp:html -->

<!-- wp:html -->
<div class="elementor-element elementor-element-d1033b2 e-con-full all-heading   pdng-lt-rt    pdng-tp-btm   elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con e-parent" data-id="d1033b2" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-8435f3b e-con-full e-flex e-con e-child" data-id="8435f3b" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-f9a3638 e-con-full e-flex e-con e-child" data-id="f9a3638" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-732767f e-con-full e-flex e-con e-child" data-id="732767f" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-3de7aca elementor-widget elementor-widget-heading" data-id="3de7aca" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Meet our Leaders</h2>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-d98124e e-con-full e-flex e-con e-child" data-id="d98124e" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-f8cdc5b elementor-widget elementor-widget-heading" data-id="f8cdc5b" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">This philosophy ensures that decisions are made with a long-term perspective, balancing operational excellence with responsibility to people, partners, and the environments in which the Group operates.</p>				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-fde1843 e-con-full e-flex e-con e-child" data-id="fde1843" data-element_type="container" data-e-type="container">
		<a class="elementor-element elementor-element-d3cc846 e-con-full popup-main-sec-blks   ser-third-sec-one-blk-rt e-flex e-con e-child" data-id="d3cc846" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-d52b060 e-con-full e-flex e-con e-child" data-id="d52b060" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-d2a0a1a elementor-widget elementor-widget-heading" data-id="d2a0a1a" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Ahmed Mohiuddin</h5>				</div>
				</div>
				<div class="elementor-element elementor-element-2283e74 elementor-widget elementor-widget-heading" data-id="2283e74" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Chairman</p>				</div>
				</div>
				</div>
				</a>
		<a class="elementor-element elementor-element-3e85041 e-con-full popup-main-sec-blks   ser-third-sec-one-blk-rt e-flex e-con e-child" data-id="3e85041" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-c1e141b e-con-full e-flex e-con e-child" data-id="c1e141b" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-588335a elementor-widget elementor-widget-heading" data-id="588335a" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Sharief Ahmed</h5>				</div>
				</div>
				<div class="elementor-element elementor-element-797f9c1 elementor-widget elementor-widget-heading" data-id="797f9c1" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Managing Director</p>				</div>
				</div>
				</div>
				</a>
		<a class="elementor-element elementor-element-e0aa907 e-con-full popup-main-sec-blks   ser-third-sec-one-blk-rt e-flex e-con e-child" data-id="e0aa907" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-5b85ca9 e-con-full e-flex e-con e-child" data-id="5b85ca9" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-2c152f6 elementor-widget elementor-widget-heading" data-id="2c152f6" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Zia Ahmed</h5>				</div>
				</div>
				<div class="elementor-element elementor-element-023c771 elementor-widget elementor-widget-heading" data-id="023c771" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Director</p>				</div>
				</div>
				</div>
				</a>
				</div>
		<div class="elementor-element elementor-element-e8fc4dd e-con-full e-flex e-con e-child" data-id="e8fc4dd" data-element_type="container" data-e-type="container">
		<a class="elementor-element elementor-element-b512ac8 e-con-full popup-main-sec-blks   ser-third-sec-one-blk-rt e-flex e-con e-child" data-id="b512ac8" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-59e8831 e-con-full e-flex e-con e-child" data-id="59e8831" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-ccc3e8d elementor-widget elementor-widget-heading" data-id="ccc3e8d" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Rajendra Katkar</h5>				</div>
				</div>
				<div class="elementor-element elementor-element-8db2380 elementor-widget elementor-widget-heading" data-id="8db2380" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">General Manager - Operations</p>				</div>
				</div>
				</div>
				</a>
		<a class="elementor-element elementor-element-3ed07ef e-con-full popup-main-sec-blks   ser-third-sec-one-blk-rt e-flex e-con e-child" data-id="3ed07ef" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-d67122a e-con-full e-flex e-con e-child" data-id="d67122a" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-4801fd1 elementor-widget elementor-widget-heading" data-id="4801fd1" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Saurabh Kanchan</h5>				</div>
				</div>
				<div class="elementor-element elementor-element-6265ddd elementor-widget elementor-widget-heading" data-id="6265ddd" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default"> Head of Strategy</p>				</div>
				</div>
				</div>
				</a>
		<a class="elementor-element elementor-element-99160b0 e-con-full popup-main-sec-blks   ser-third-sec-one-blk-rt e-flex e-con e-child" data-id="99160b0" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-e85cad6 e-con-full e-flex e-con e-child" data-id="e85cad6" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-f1e6454 elementor-widget elementor-widget-heading" data-id="f1e6454" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Sudhir Hegde</h5>				</div>
				</div>
				<div class="elementor-element elementor-element-21d7ae1 elementor-widget elementor-widget-heading" data-id="21d7ae1" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Commercial Director</p>				</div>
				</div>
				</div>
				</a>
				</div>
				</div>
				</div>
<!-- /wp:html -->

<!-- wp:html -->
<div class="elementor-element elementor-element-88db43b e-con-full all-heading elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con e-parent" data-id="88db43b" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-34b0afd e-con-full e-flex e-con e-child" data-id="34b0afd" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-77e486f elementor-widget elementor-widget-heading" data-id="77e486f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Our Approach</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-ac41e17 elementor-widget elementor-widget-heading" data-id="ac41e17" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">The leadership team works closely with operational staff to maintain service reliability, clear communication, and customer-focused execution. The emphasis is on practical decision-making, accountability, and long-term relationships.</p>				</div>
				</div>
				</div>
				</div>
<!-- /wp:html -->

<!-- wp:html -->
<div class="elementor-element elementor-element-77a4fb0 e-con-full sustainability-bnr-sec all-heading   bann-padd-tp  pdng-lt-rt  pdng-btm e-flex e-con e-parent" data-id="77a4fb0" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0,&quot;sticky_anchor_link_offset&quot;:0}">
		<div class="elementor-element elementor-element-e6b4bef e-con-full e-flex e-con e-child" data-id="e6b4bef" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-9ea94dd e-con-full e-flex e-con e-child" data-id="9ea94dd" data-element_type="container" data-e-type="container">
				</div>
		<div class="elementor-element elementor-element-2c90211 e-con-full e-flex e-con e-child" data-id="2c90211" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-7602b60 bsi-text elementor-widget elementor-widget-heading" data-id="7602b60" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">Our Leadership Philosophy</h1>				</div>
				</div>
				<div class="elementor-element elementor-element-20c0029 bsi-text elementor-widget elementor-widget-heading" data-id="20c0029" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Delta Group leaders act with integrity, prioritize safety, and drive accountable, long-term, responsible decisions.</p>				</div>
				</div>
				</div>
				</div>
				</div>
<!-- /wp:html -->

<!-- wp:html -->
<div class="elementor-element elementor-element-cd15adc e-con-full all-heading   pdng-lt-rt    pdng-tp-btm  e-flex e-con e-parent" data-id="cd15adc" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-67092c2 e-con-full e-flex e-con e-child" data-id="67092c2" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-2cda492 e-con-full e-flex e-con e-child" data-id="2cda492" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-9259079 e-con-full e-flex e-con e-child" data-id="9259079" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-65769df bsi-text elementor-widget elementor-widget-heading" data-id="65769df" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Meet our team</h2>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-1043458 e-con-full e-flex e-con e-child" data-id="1043458" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-8410784 bsi-text elementor-widget elementor-widget-heading" data-id="8410784" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">This philosophy ensures that decisions are made with a long-term perspective, balancing operational excellence with responsibility to people, partners, and the environments in which the Group operates.</p>				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-8b31f1b e-con-full e-flex e-con e-child" data-id="8b31f1b" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-a7cb373 e-con-full popup-main-sec-blks   ser-third-sec-one-blk-rt    team-card-updated e-flex e-con e-child" data-id="a7cb373" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<a class="elementor-element elementor-element-856a24e e-con-full e-flex e-con e-child" data-id="856a24e" data-element_type="container" data-e-type="container" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI2NjMiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
				<div class="elementor-element elementor-element-172afb7 aos-bg-fade-up elementor-widget elementor-widget-image" data-id="172afb7" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img fetchpriority="high" decoding="async" width="2447" height="2447" src="http://wwa.local/wp-content/uploads/2026/06/leader-new2.webp" class="attachment-full size-full wp-image-2860" alt="" srcset="http://wwa.local/wp-content/uploads/2026/06/leader-new2.webp 2447w, http://wwa.local/wp-content/uploads/2026/06/leader-new2-300x300.webp 300w, http://wwa.local/wp-content/uploads/2026/06/leader-new2-1024x1024.webp 1024w, http://wwa.local/wp-content/uploads/2026/06/leader-new2-150x150.webp 150w, http://wwa.local/wp-content/uploads/2026/06/leader-new2-768x768.webp 768w, http://wwa.local/wp-content/uploads/2026/06/leader-new2-1536x1536.webp 1536w, http://wwa.local/wp-content/uploads/2026/06/leader-new2-2048x2048.webp 2048w" sizes="(max-width: 2447px) 100vw, 2447px" />															</div>
				</div>
				</a>
		<div class="elementor-element elementor-element-72cf2cb e-con-full e-flex e-con e-child" data-id="72cf2cb" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-7aa8a43 elementor-widget elementor-widget-heading" data-id="7aa8a43" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">Ahmed Mohiuddin</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-16ac0e1 elementor-widget elementor-widget-heading" data-id="16ac0e1" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Chairman / Founder</p>				</div>
				</div>
				<div class="elementor-element elementor-element-c5b6bf4 elementor-align-justify elementor-widget elementor-widget-button" data-id="c5b6bf4" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI2NjMiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="icon icon-arrow-right"></i>			</span>
									<span class="elementor-button-text">Read Bio</span>
					</span>
					</a>
				</div>
								</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-c5c10ea e-con-full popup-main-sec-blks   ser-third-sec-one-blk-rt    team-card-updated e-flex e-con e-child" data-id="c5c10ea" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<a class="elementor-element elementor-element-0d95edd e-con-full e-flex e-con e-child" data-id="0d95edd" data-element_type="container" data-e-type="container" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI2NjYiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
				<div class="elementor-element elementor-element-3bed7fc aos-bg-fade-up elementor-widget elementor-widget-image" data-id="3bed7fc" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="2447" height="2447" src="http://wwa.local/wp-content/uploads/2026/06/leader-new1.webp" class="attachment-full size-full wp-image-2861" alt="" srcset="http://wwa.local/wp-content/uploads/2026/06/leader-new1.webp 2447w, http://wwa.local/wp-content/uploads/2026/06/leader-new1-300x300.webp 300w, http://wwa.local/wp-content/uploads/2026/06/leader-new1-1024x1024.webp 1024w, http://wwa.local/wp-content/uploads/2026/06/leader-new1-150x150.webp 150w, http://wwa.local/wp-content/uploads/2026/06/leader-new1-768x768.webp 768w, http://wwa.local/wp-content/uploads/2026/06/leader-new1-1536x1536.webp 1536w, http://wwa.local/wp-content/uploads/2026/06/leader-new1-2048x2048.webp 2048w" sizes="(max-width: 2447px) 100vw, 2447px" />															</div>
				</div>
				</a>
		<div class="elementor-element elementor-element-0207494 e-con-full e-flex e-con e-child" data-id="0207494" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-3494db1 elementor-widget elementor-widget-heading" data-id="3494db1" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">Shamil Ahmed</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-6852ad7 elementor-widget elementor-widget-heading" data-id="6852ad7" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Director</p>				</div>
				</div>
				<div class="elementor-element elementor-element-f5eebd5 elementor-align-justify elementor-widget elementor-widget-button" data-id="f5eebd5" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI2NjYiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="icon icon-arrow-right"></i>			</span>
									<span class="elementor-button-text">Read Bio</span>
					</span>
					</a>
				</div>
								</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-31ab3bd e-con-full popup-main-sec-blks   ser-third-sec-one-blk-rt    team-card-updated e-flex e-con e-child" data-id="31ab3bd" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<a class="elementor-element elementor-element-df305e7 e-con-full e-flex e-con e-child" data-id="df305e7" data-element_type="container" data-e-type="container" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI2NjkiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
				<div class="elementor-element elementor-element-3a9dd6e aos-bg-fade-up elementor-widget elementor-widget-image" data-id="3a9dd6e" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="2447" height="2447" src="http://wwa.local/wp-content/uploads/2026/06/leader-new3.webp" class="attachment-full size-full wp-image-2862" alt="" srcset="http://wwa.local/wp-content/uploads/2026/06/leader-new3.webp 2447w, http://wwa.local/wp-content/uploads/2026/06/leader-new3-300x300.webp 300w, http://wwa.local/wp-content/uploads/2026/06/leader-new3-1024x1024.webp 1024w, http://wwa.local/wp-content/uploads/2026/06/leader-new3-150x150.webp 150w, http://wwa.local/wp-content/uploads/2026/06/leader-new3-768x768.webp 768w, http://wwa.local/wp-content/uploads/2026/06/leader-new3-1536x1536.webp 1536w, http://wwa.local/wp-content/uploads/2026/06/leader-new3-2048x2048.webp 2048w" sizes="(max-width: 2447px) 100vw, 2447px" />															</div>
				</div>
				</a>
		<div class="elementor-element elementor-element-be4c104 e-con-full e-flex e-con e-child" data-id="be4c104" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-d3061c6 elementor-widget elementor-widget-heading" data-id="d3061c6" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">Mohammed Shahzeer
</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-d6acbb6 elementor-widget elementor-widget-heading" data-id="d6acbb6" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Director</p>				</div>
				</div>
				<div class="elementor-element elementor-element-bfa525e elementor-align-justify elementor-widget elementor-widget-button" data-id="bfa525e" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI2NjkiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="icon icon-arrow-right"></i>			</span>
									<span class="elementor-button-text">Read Bio</span>
					</span>
					</a>
				</div>
								</div>
				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-75b7868 e-con-full elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con e-child" data-id="75b7868" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-fe8fb18 e-con-full popup-main-sec-blks   ser-third-sec-one-blk-rt    team-card-updated e-flex e-con e-child" data-id="fe8fb18" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<a class="elementor-element elementor-element-0f6242e e-con-full e-flex e-con e-child" data-id="0f6242e" data-element_type="container" data-e-type="container" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI0NTAiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
				<div class="elementor-element elementor-element-d3d0dcb elementor-widget elementor-widget-image" data-id="d3d0dcb" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="440" height="250" src="http://wwa.local/wp-content/uploads/2026/05/LRD-4.webp" class="attachment-full size-full wp-image-2161" alt="" srcset="http://wwa.local/wp-content/uploads/2026/05/LRD-4.webp 440w, http://wwa.local/wp-content/uploads/2026/05/LRD-4-300x170.webp 300w" sizes="(max-width: 440px) 100vw, 440px" />															</div>
				</div>
				</a>
		<a class="elementor-element elementor-element-7e719db e-con-full e-flex e-con e-child" data-id="7e719db" data-element_type="container" data-e-type="container" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI0NTAiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
				<div class="elementor-element elementor-element-76a3846 elementor-widget elementor-widget-heading" data-id="76a3846" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">Raghoba Kotkar</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-edd043f elementor-widget elementor-widget-heading" data-id="edd043f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Head of Logistics

</p>				</div>
				</div>
				<div class="elementor-element elementor-element-85c0839 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="85c0839" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-e9a8389 elementor-align-justify elementor-widget elementor-widget-button" data-id="e9a8389" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="icon icon-arrow-right"></i>			</span>
									<span class="elementor-button-text">Read Bio</span>
					</span>
					</a>
				</div>
								</div>
				</div>
				</a>
				</div>
		<div class="elementor-element elementor-element-38af103 e-con-full popup-main-sec-blks   ser-third-sec-one-blk-rt    team-card-updated e-flex e-con e-child" data-id="38af103" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<a class="elementor-element elementor-element-0c244b8 e-con-full e-flex e-con e-child" data-id="0c244b8" data-element_type="container" data-e-type="container" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI0NTAiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
				<div class="elementor-element elementor-element-cb3bc21 elementor-widget elementor-widget-image" data-id="cb3bc21" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="440" height="250" src="http://wwa.local/wp-content/uploads/2026/05/LRD-5.webp" class="attachment-full size-full wp-image-2162" alt="" srcset="http://wwa.local/wp-content/uploads/2026/05/LRD-5.webp 440w, http://wwa.local/wp-content/uploads/2026/05/LRD-5-300x170.webp 300w" sizes="(max-width: 440px) 100vw, 440px" />															</div>
				</div>
				</a>
		<a class="elementor-element elementor-element-54b017d e-con-full e-flex e-con e-child" data-id="54b017d" data-element_type="container" data-e-type="container" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI0NTAiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
				<div class="elementor-element elementor-element-0b90190 elementor-widget elementor-widget-heading" data-id="0b90190" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">Saurabh Kanchan</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-92536db elementor-widget elementor-widget-heading" data-id="92536db" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Chief Financial Officer</p>				</div>
				</div>
				<div class="elementor-element elementor-element-65ef9fc elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="65ef9fc" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-f33a6f4 elementor-align-justify elementor-widget elementor-widget-button" data-id="f33a6f4" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="icon icon-arrow-right"></i>			</span>
									<span class="elementor-button-text">Read Bio</span>
					</span>
					</a>
				</div>
								</div>
				</div>
				</a>
				</div>
		<div class="elementor-element elementor-element-1b7c761 e-con-full popup-main-sec-blks   ser-third-sec-one-blk-rt    team-card-updated e-flex e-con e-child" data-id="1b7c761" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<a class="elementor-element elementor-element-11f1c1a e-con-full e-flex e-con e-child" data-id="11f1c1a" data-element_type="container" data-e-type="container" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI0NTAiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
				<div class="elementor-element elementor-element-0ba0040 elementor-widget elementor-widget-image" data-id="0ba0040" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="440" height="250" src="http://wwa.local/wp-content/uploads/2026/05/LRD-6.webp" class="attachment-full size-full wp-image-2163" alt="" srcset="http://wwa.local/wp-content/uploads/2026/05/LRD-6.webp 440w, http://wwa.local/wp-content/uploads/2026/05/LRD-6-300x170.webp 300w" sizes="(max-width: 440px) 100vw, 440px" />															</div>
				</div>
				</a>
		<a class="elementor-element elementor-element-8cb711b e-con-full e-flex e-con e-child" data-id="8cb711b" data-element_type="container" data-e-type="container" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI0NTAiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
				<div class="elementor-element elementor-element-9381f52 elementor-widget elementor-widget-heading" data-id="9381f52" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">Sudhir Hegde</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-19f8aa1 elementor-widget elementor-widget-heading" data-id="19f8aa1" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Head of Infrastructure</p>				</div>
				</div>
				<div class="elementor-element elementor-element-751fe5d elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="751fe5d" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-5cea61f elementor-align-justify elementor-widget elementor-widget-button" data-id="5cea61f" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="icon icon-arrow-right"></i>			</span>
									<span class="elementor-button-text">Read Bio</span>
					</span>
					</a>
				</div>
								</div>
				</div>
				</a>
				</div>
				</div>
				</div>
				</div>
<!-- /wp:html -->

<!-- wp:html -->
</div>
<!-- /wp:html -->

