<!-- wp:html -->
<div data-elementor-type="wp-page" data-elementor-id="2206" class="elementor elementor-2206" data-elementor-post-type="page">
<!-- /wp:html -->

<!-- wp:html -->
<div class="elementor-element elementor-element-afccf86 e-con-full privacy-policy-sec pdng-lt-rt pdng-btm pdng-tp all-heading  e-flex e-con e-parent" data-id="afccf86" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-73f2be6 elementor-widget elementor-widget-html" data-id="73f2be6" data-element_type="widget" data-e-type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
					<h1>Terms and Conditions</h1>

<p><strong>Last updated:</strong> May 03, 2026</p>

<p>Please read these terms and conditions carefully before using our service.</p>



<hr>



<h2>1. Introduction</h2>

<p>Visitors to this website are bound by the following Terms and Conditions (“Terms”). Please read them carefully before using this site. If you do not agree with any of these Terms, please discontinue use of the website immediately.</p>

<p>The content of this website is provided for general information and use only and is subject to change without notice.</p>



<h2>2. Cookies and Information Processing</h2>

<p>This website may use cookies to monitor browsing preferences. By continuing to use the website, you consent to such usage. Certain information may be stored and processed in accordance with applicable laws.</p>



<h2>3. Warranties and Limitation of Liability</h2>

<p>Neither Delta Group nor any third parties make any warranty or guarantee as to the accuracy, timeliness, completeness, performance, or suitability of the information and materials available on this website for any particular purpose.</p>

<p>The information may contain inaccuracies or errors, and Delta Group expressly excludes liability for any such inaccuracies or errors to the fullest extent permitted by law. Your use of any information or materials on this website is entirely at your own risk. It is your responsibility to ensure that any products, services, or information available through this website meet your specific requirements.</p>



<h2>4. Intellectual Property</h2>

<p>All content on this website, including but not limited to design, layout, appearance, graphics, and logos, is owned by or licensed to Delta Group. Unauthorized reproduction or use is strictly prohibited.</p>



<h2>5. Links to Other Websites</h2>

<p>This website may include links to third-party websites for convenience. Delta Group does not endorse and is not responsible for the content, availability, or accuracy of such external websites.</p>

<p>We strongly advise You to read the terms and conditions and privacy policies of any third-party websites or services that You visit.</p>



<h2>6. Unauthorized Use</h2>

<p>Unauthorized use of this website may result in a claim for damages and/or constitute a criminal offence.</p>



<h2>7. Governing Law and Dispute Resolution</h2>

<p>These Terms shall be governed by and interpreted in accordance with the laws of India, excluding its conflicts of law rules. Any disputes arising in connection with this website shall be subject to the exclusive jurisdiction of the competent courts in Ahmedabad, India.</p>



<hr>



<h2>Contact Us</h2>

<p>If you have any questions regarding this Privacy Policy, you may contact us at:</p>

<ul>

    <li><strong>Email:</strong> enquiries@groupdelta.in</li>

    <li><strong>Phone:</strong> +91 99023 95555</li>

</ul>				</div>
				</div>
				</div>
<!-- /wp:html -->

<!-- wp:html -->
</div>
<!-- /wp:html -->

