<div data-elementor-type="popup" data-elementor-id="2666" class="elementor elementor-2666 elementor-location-popup" data-elementor-settings="{&quot;a11y_navigation&quot;:&quot;yes&quot;,&quot;timing&quot;:[]}" data-elementor-post-type="elementor_library">
			<div class="elementor-element elementor-element-27c454a7 e-con-full all-heading   popup-main-sec     popup-main-sec-blks   ser-third-sec-one-blk-rt   popup-main-sec-blk-lft e-flex e-con e-parent" data-id="27c454a7" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-49152708 e-con-full e-flex e-con e-child" data-id="49152708" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-768c3738 elementor-widget elementor-widget-heading" data-id="768c3738" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Shamil Ahmed</h5>				</div>
				</div>
				<div class="elementor-element elementor-element-335286cf elementor-widget elementor-widget-heading" data-id="335286cf" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<span class="elementor-heading-title elementor-size-default">Director</span>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-6bd3f1c e-con-full e-flex e-con e-child" data-id="6bd3f1c" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-7933b72c all-heading-new-sec-heading elementor-widget elementor-widget-heading" data-id="7933b72c" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">The businesses that endure are not those that resist change,  they are those that lead it.</p>				</div>
				</div>
				<div class="elementor-element elementor-element-5ff7bf88 all-heading-new-sec-heading elementor-widget elementor-widget-heading" data-id="5ff7bf88" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">At Group Delta, innovation is not a department or a strategy. It is a mindset that runs through everything we do. We invest in technology, in people, and in ideas that keep us ahead, so that our clients always have a partner who is ready for what comes next.</p>				</div>
				</div>
				<div class="elementor-element elementor-element-7bd60ee7 all-heading-new-sec-heading elementor-widget elementor-widget-heading" data-id="7bd60ee7" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">We are grateful for the trust that has brought us this far, and energised by the possibilities that lie ahead.
</p>				</div>
				</div>
				</div>
				</div>
				</div>
				