<div data-elementor-type="popup" data-elementor-id="2663" class="elementor elementor-2663 elementor-location-popup" data-elementor-settings="{&quot;a11y_navigation&quot;:&quot;yes&quot;,&quot;timing&quot;:[]}" data-elementor-post-type="elementor_library">
			<div class="elementor-element elementor-element-7ce266fd e-con-full all-heading   popup-main-sec     popup-main-sec-blks   ser-third-sec-one-blk-rt   popup-main-sec-blk-lft e-flex e-con e-parent" data-id="7ce266fd" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-b81af42 e-con-full e-flex e-con e-child" data-id="b81af42" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-39d32ffb elementor-widget elementor-widget-heading" data-id="39d32ffb" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Ahmed Mohiuddin</h5>				</div>
				</div>
				<div class="elementor-element elementor-element-1c8e8f71 elementor-widget elementor-widget-heading" data-id="1c8e8f71" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<span class="elementor-heading-title elementor-size-default">Chairman / Founder</span>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-37f40e97 e-con-full e-flex e-con e-child" data-id="37f40e97" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-429d3d23 all-heading-new-sec-heading elementor-widget elementor-widget-heading" data-id="429d3d23" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Every great enterprise is built twice — first in vision, then in perseverance.
At Group Delta, we started with a clear purpose: to deliver port services of the highest standard, with integrity at every step. Over the years, that purpose has expanded across industries and geographies, but the core of who we are has never changed. We build on trust. We grow through people. And we measure success not just by what we achieve, but by the value we create for those we serve.</p>				</div>
				</div>
				<div class="elementor-element elementor-element-1051364e all-heading-new-sec-heading elementor-widget elementor-widget-heading" data-id="1051364e" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">To our clients, partners, and teams:  you are the reason we strive for more. The journey ahead is our most exciting yet.
</p>				</div>
				</div>
				</div>
				</div>
				</div>
				