<div data-elementor-type="popup" data-elementor-id="2669" class="elementor elementor-2669 elementor-location-popup" data-elementor-settings="{&quot;a11y_navigation&quot;:&quot;yes&quot;,&quot;timing&quot;:[]}" data-elementor-post-type="elementor_library">
			<div class="elementor-element elementor-element-4760dc3c e-con-full all-heading   popup-main-sec     popup-main-sec-blks   ser-third-sec-one-blk-rt   popup-main-sec-blk-lft e-flex e-con e-parent" data-id="4760dc3c" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-15113619 e-con-full e-flex e-con e-child" data-id="15113619" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-3f28bd26 elementor-widget elementor-widget-heading" data-id="3f28bd26" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Mohammed Shahzeer</h5>				</div>
				</div>
				<div class="elementor-element elementor-element-4a0cebe2 elementor-widget elementor-widget-heading" data-id="4a0cebe2" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<span class="elementor-heading-title elementor-size-default">Director</span>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-4da2adfd e-con-full e-flex e-con e-child" data-id="4da2adfd" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-56cf8def all-heading-new-sec-heading elementor-widget elementor-widget-heading" data-id="56cf8def" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Diversification is often seen as a business strategy. For us, it is a reflection of curiosity, a genuine desire to learn, adapt and contribute across new frontiers.</p>				</div>
				</div>
				<div class="elementor-element elementor-element-44f40238 all-heading-new-sec-heading elementor-widget elementor-widget-heading" data-id="44f40238" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Paired with a deep commitment to technology, it has allowed Group Delta to grow in ways that are both broad and meaningful. We are present across sectors and markets that matter and we are constantly asking how we can do more, serve better and reach further.</p>				</div>
				</div>
				<div class="elementor-element elementor-element-29016171 all-heading-new-sec-heading elementor-widget elementor-widget-heading" data-id="29016171" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">The future belongs to those willing to build it. We intend to be among them, and we are honoured to have you alongside us as we do.</p>				</div>
				</div>
				</div>
				</div>
				</div>
					<script>
				( () => {
					const lazyloadRunObserver = () => {
						const lazyloadBackgrounds = document.querySelectorAll( `.e-con.e-parent:not(.e-lazyloaded)` );
						const lazyloadBackgroundObserver = new IntersectionObserver( ( entries ) => {
							entries.forEach( ( entry ) => {
								if ( entry.isIntersecting ) {
									let lazyloadBackground = entry.target;
									if( lazyloadBackground ) {
										lazyloadBackground.classList.add( 'e-lazyloaded' );
									}
									lazyloadBackgroundObserver.unobserve( entry.target );
								}
							});
						}, { rootMargin: '200px 0px 200px 0px' } );
						lazyloadBackgrounds.forEach( ( lazyloadBackground ) => {
							lazyloadBackgroundObserver.observe( lazyloadBackground );
						} );
					};
					const events = [
						'DOMContentLoaded',
						'elementor/lazyload/observe',
					];
					events.forEach( ( event ) => {
						document.addEventListener( event, lazyloadRunObserver );
					} );
				} )();
			</script>
			<link rel='stylesheet' id='elementor-post-2111-css' href='https://vipaccounts.org/WWA/wp-content/uploads/elementor/css/post-2111.css?ver=1784727507' media='all' />
<link rel='stylesheet' id='elementor-post-2115-css' href='https://vipaccounts.org/WWA/wp-content/uploads/elementor/css/post-2115.css?ver=1784727507' media='all' />
<link rel='stylesheet' id='elementor-post-3419-css' href='https://vipaccounts.org/WWA/wp-content/uploads/elementor/css/post-3419.css?ver=1784727507' media='all' />
<link rel='stylesheet' id='elementor-post-2436-css' href='https://vipaccounts.org/WWA/wp-content/uploads/elementor/css/post-2436.css?ver=1784727507' media='all' />
<link rel='stylesheet' id='elementor-post-2440-css' href='https://vipaccounts.org/WWA/wp-content/uploads/elementor/css/post-2440.css?ver=1784727507' media='all' />
<link rel='stylesheet' id='elementor-post-3504-css' href='https://vipaccounts.org/WWA/wp-content/uploads/elementor/css/post-3504.css?ver=1784727507' media='all' />
<link rel='stylesheet' id='elementor-post-2663-css' href='https://vipaccounts.org/WWA/wp-content/uploads/elementor/css/post-2663.css?ver=1784801318' media='all' />
<link rel='stylesheet' id='e-popup-css' href='https://vipaccounts.org/WWA/wp-content/plugins/elementor-pro/assets/css/conditionals/popup.min.css?ver=3.35.1' media='all' />
<link rel='stylesheet' id='elementor-post-2666-css' href='https://vipaccounts.org/WWA/wp-content/uploads/elementor/css/post-2666.css?ver=1784801318' media='all' />
<link rel='stylesheet' id='elementor-post-2669-css' href='https://vipaccounts.org/WWA/wp-content/uploads/elementor/css/post-2669.css?ver=1784801318' media='all' />
<script id="ekit-widget-scripts-js" src="https://vipaccounts.org/WWA/wp-content/plugins/elementskit-lite/widgets/init/assets/js/widget-scripts.js?ver=3.9.9"></script>
